body{
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 32);
    color: white;
    position: relative;
   
}
div.container{
    width: 80%;
    margin: 0 auto;
    
}
div.main-timer{
    width: 50%;
    border: 2px solid white;
    border-radius: 6px;
    height: 300px;
    margin: 200px auto;
    margin-bottom: 0;
    text-align: center;
}
span.timer, span.stop-watch{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    padding: 8px;
    background-color: rgb(219, 135, 10);
    width: 90px;
    cursor: pointer;
    border-radius: 4px; 
}
.stop-watch:hover, .timer:hover{
    background-color: black;

}
.timer-display-sec{
    margin-top: 60px;
    font-size: 70px;
    font-weight: 800;
}

.hour, .minute, .second{
    margin-left: -15px;
}
.miliseconds{
    margin-left: -10px;
    font-size: 25px;
    font-weight: 200;
}

.start{
    padding: 10px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 8px;
    width: 90px;
    cursor: pointer;
    margin-left: -20px;
}
.reset{
    margin-left: 10px;
    display: none;
}

.countdown-timer{
    width: 60%;
    background-color: white;
    margin: 10px auto;
    height: 300px;
    text-align: center;
    color: black;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}
.close{
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    
}
.close img{
    cursor: pointer;
}
.cdtimer{
    width: 90%;
    margin: 100px auto;
    display: inline-block;
    font-size: 23px;
    font-weight: 600;
}
.cdtimer section{
    display: inline-block;
    margin-left: 15px;
    
}
.cdtimer select {
    font-size: 23px;
    margin-left: 5px;
    width: 80px;
    border-radius: 6px;
}