body{
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 32);
    color: white;
}

div.container{
    width: 80%;
    margin: 0 auto;
}
div.main-timer{
    width: 50%;
    border: 2px solid white;
    border-radius: 6px;
    height: 300px;
    margin: 200px auto;
    text-align: center;
}
span.timer, span.stop-watch{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    padding: 8px;
    background-color: rgb(219, 135, 10);
    width: 90px;
    cursor: pointer;
    border-radius: 4px; 
}
.timer-display-sec{
    margin-top: 50px;
    font-size: 70px;
    font-weight: 800;
}
.hour, .minute, .second, .mili-second{
    margin-left: -15px;
}

.start{
    padding: 10px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 8px;
    width: 90px;
    cursor: pointer;
}
.reset{
    margin-left: 10px;
    display: none;
}