body{
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 32);
    background-color: #207398;
    color: white;
    position: relative;
   
}
button{
    background-color: rgb(219, 135, 10);
    color: white;
    width: 15%;
    padding: 0.5rem;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}
div.container{
    width: 80%;
    margin: 0 auto;
}
div.main-timer{
    width: 60%;
    min-width: 17rem;
    border: 0.3rem solid white;
    border-radius: 0.6rem;
    height: 25rem;
    max-height: 60rem;
    margin: 10rem auto;
    margin-bottom: 0;
    text-align: center;
}
span.timer, span.stop-watch{
    margin-top: 1.9em;
    margin-left: 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
    padding: 0.5rem;
    background-color: rgb(219, 135, 10);
    width: 15%;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0.1rem solid black; 
}
.timer-display-sec{
    margin-top: 2rem;
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    margin-left: 3rem;
    height: 20vh;
    
}

.hour, .minute, .second{
    display: inline-block;
    margin-left: 0;
   
}


.miliseconds{
    display: inline-block;
    margin-left: -1rem;
    font-size: 2rem;
    font-weight: 400;
    background-color: #4a788a;
    border-radius: 4px;
    width: 50px;
}

.start{
    
    margin-top: 1rem;
    margin-left: -1.2rem;
  
}
.reset{
    margin-left: 1rem;
    display: none;
}

.countdown-timer{
    width: 60%;
    background-color: white;
    margin: 0.7rem auto;
    height: 18rem;
    text-align: center;
    color: black;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}

.close{
    text-align: right;
    margin-right: 0.7rem;
    margin-top: 0.7rem;
    
}
.close img{
    cursor: pointer;
}
.countdown-set-btn{
    display: block;
    margin: 3.3rem auto;
    background-color: #207398;
}

.cdtimer{
    width: 90%;
    margin: 6.3rem auto;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
}
.cdtimer section{
    display: inline-block;
    margin-left: 1rem;
    
}
.cdtimer select {
    font-size: 1.4rem;
    margin-left: 0.3rem;
    width: 5.7rem;
    border-radius: 0.4rem;
}